@import url(default.css);
@import url(fonts.css);
@import url(common.css);

section h2,
section h3 {
    font-family: "Eulyoo1945";
    font-weight: 700;
    line-height: 1.3;
}
section .tit h2 {
    font-size: 40px;
}
section .tit h2 {
    font-size: 40px;
    color: #111111;
}
section .tit p {
    margin: 7px 0 0 0;
}

.visual .swiper-slide h3 {
    font-size: 60px;
    margin: 0 0 14px 0;
}
.visual .ctrl_btn {
    position: absolute;
    bottom: 144px;
    left: 50%;
    z-index: 10;
    background-color: yellowgreen;
    display: flex;
}
.visual .ctrl_btn .paging {
    bottom: auto;
}
.visual .swiper-slide {
    height: 100dhv;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff

}
.visual .swiper-slide.popup1 {
    background-image: url(../images/visual_bg1.jpg);
}
.visual .swiper-slide.popup2 {
    background-image: url(../images/visual_bg2.jpg);
}
.visual .swiper-slide.popup3 {
    background-image: url(../images/visual_bg3.jpg);
}
header {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 90px;
}
header .util {
    display: flex;
    gap: : 0 1px;
}
header .util .mypage,
header .util .search .search_open {
    width: 52px;
    height: 50px;
    background-position: center center;
    background-repeat: no-repeat;
}
