@import url(common.css);

.btn {
    margin: 50px 0;
}
.btn a {
    display: inline-block;
    padding: 8px 30px;
    border-radius: 50px;
}

.item1 a {
    background-color: #ededed;
}
.item1 a:hover {
    background-color: #106BB5;
    color: #fff;
}
.item2 a:hover {
    border-color: #106BB5;
    color: #106BB5;
}
.item2 a {
    border: 1px solid #666;
}
.item2 a:hover {
    border-color: #106BB5;
    color: #106BB5;
}
.item3 a {
    background-color: #ededed;
    border: 5px solid #ededed;
}
.item3 a:hover {
    background-color: #fff;
    border: 5px solid #106BB5;
    color:#106BB5;
}
.item4 a {
    border: 5px solid #106BB5;
    color: #106BB5;
}
.item4 a:hover {
    background-color: #106BB5;
    color: #fff;
}