@import url(default.css);
@import url(fonts.css);
@import url(common.css);

.visual .swiper-slide {
    height: 100vh; /* 브라우저 높이와 동일 */
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    align-items: ;
}
.visual .swiper-slide.popup1 {
    background-image: url(../images/visual_bg1.jpg);
}
.visual .swiper-slide.popup1 {
    background-image: url(../images/visual_bg2.jpg);
}
.visual .swiper-slide.popup1 {
    background-image: url(../images/visual_bg3.jpg);
}

.visual .swiper-slide h3 {
    font-size: 60px;
    margin: 0 0 14px 0;
}

footer {
    margin: 500px 0 0 0;
}
